@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  background-color: #fff;
  color: #202020;
  border-radius: 8px;
  padding: 15px 30px;
  width: max-content;
  transform: translate(100px);
  transition: all 0.5s;
}
.form #malumot {
  display: none;
  color: red;
}
.form h2 {
  margin-bottom: 30px;
}
.form label {
  display: block;
  margin-bottom: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #00a173;
}
.form #name, .form #username {
  padding: 5px 9px;
  color: #146EBE;
  border-radius: 8px;
  outline: none;
  border: 2px solid #292930;
  margin-bottom: 30px;
  display: inline-block;
}
.form .pass {
  color: #146EBE;
  border-radius: 8px;
  outline: none;
  border: 2px solid #292930;
  margin-bottom: 30px;
  width: max-content;
}
.form .pass input {
  padding: 5px 9px;
  border: none;
  outline: none;
  background: none;
}
.form .pass #hide {
  color: #292930 !important;
  display: none;
}
.form button {
  background-color: #146EBE;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form1 {
  background-color: #fff;
  color: #202020;
  border-radius: 8px;
  padding: 15px 30px;
  width: max-content;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}
.form1 h2 {
  margin-bottom: 30px;
}
.form1 label {
  display: block;
  margin-bottom: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #00a173;
}
.form1 #username1 {
  padding: 5px 9px;
  color: #146EBE;
  border-radius: 8px;
  outline: none;
  border: 2px solid #292930;
  margin-bottom: 30px;
  display: inline-block;
}
.form1 .pass {
  color: #146EBE;
  border-radius: 8px;
  outline: none;
  border: 2px solid #292930;
  margin-bottom: 30px;
  width: max-content;
}
.form1 .pass input {
  padding: 5px 9px;
  border: none;
  outline: none;
  background: none;
}
.form1 .pass #hide {
  color: #292930 !important;
  display: none;
}
.form1 button {
  background-color: #146EBE;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.userInformation {
  background-color: #fff;
  color: #202020;
  padding: 15px 30px;
  border-radius: 8px;
  transform: translate(100px);
  opacity: 0;
  visibility: hidden;
}
.userInformation p {
  margin-top: 12px;
}

.hideForm {
  animation-name: hideForm;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes hideForm {
  0% {
    transform: translate(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translate(-300px);
    opacity: 0;
  }
}
.hideForm2 {
  animation-name: hideForm2;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes hideForm2 {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
.hideLogin {
  animation-name: showLogin;
  animation-duration: 0.7s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

@keyframes showLogin {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  50% {
    visibility: visiblez;
  }
  100% {
    transform: translate(-130px);
    opacity: 1;
    visibility: visible;
  }
}
.ShowInfo {
  animation-name: showinfo;
  animation-duration: 0.9s;
  animation-fill-mode: both;
}

@keyframes showinfo {
  0% {
    transform: translate(0);
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0.5;
    visibility: visible;
  }
  100% {
    transform: translate(-300px);
    opacity: 1;
    visibility: visible;
  }
}

/*# sourceMappingURL=style.css.map */
